:root {
    --primary-color: rgb(255, 165, 47);
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #222222;
}
body {
    margin: 0;
    background-color: var(--dark-color);
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 1rem;
}

/* Nav styles */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: black;
    padding: .5rem;  
    font-weight: 600; 
    font-size: 1.1rem;
}

/*Footer styles */
footer {
    position: sticky;
    bottom: 0;
    background-color: var(--primary-color);
    color: var(--light-color);
    width: 100%;
    padding: .1rem  0;
    text-align: center;
    margin: 0;
}
